src/main/mule/book-papi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8c1610df-6dbb-4c63-b4d2-0d644c5f1f93" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="book-papiFlow" doc:id="86ab3343-1900-4359-9433-5b25b5f6aff6" >
		<http:listener doc:name="Listener" doc:id="8efa5184-6fe8-44bf-9e86-3f140d5e46fa" config-ref="HTTP_Listener_config" path="/api/ping"/>
		<ee:transform doc:name="Transform Message" doc:id="f05a9bd1-91a7-4cd8-af05-16f2c0314767" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Ping method is working !!!!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="05883329-2d37-4620-8376-386a241ee7e2" message="#[payload]"/>
	</flow>
</mule>
